[submodule "bert"]
	path = bert
	url = https://github.com/google-research/bert.git
[submodule "wikiextractor"]
	path = wikiextractor
	url = https://github.com/attardi/wikiextractor.git
[submodule "google-research"]
	path = google-research
	url = https://github.com/google-research/google-research.git
